.gamepane {
    -fx-background-color: black;
}

.intro {
    -fx-background-color: black;
}

.menu-background {
    -fx-background-image: url("../images/1.jpg");
    -fx-background-size: cover;
}

.challenge-background {
    -fx-background-image: url("../images/2.jpg");
    -fx-background-size: cover;
}

.instructions-background {
    -fx-background-image: url("../images/3.jpg");
    -fx-background-size: cover;
}

.lobby-background {
    -fx-background-image: url("../images/4.jpg");
    -fx-background-size: cover;
}

.multiplayer-background {
    -fx-background-image: url("../images/5.jpg");
    -fx-background-size: cover;
}

.scores-background {
    -fx-background-image: url("../images/6.jpg");
    -fx-background-size: cover;
}

.menu {
    -fx-padding: 10;
}

.menuItem {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
    -fx-background-color: transparent;
}

.submit {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
    -fx-padding: 5;
    -fx-start-margin: 20;
}

.menuItem:hover {
    -fx-text-fill: yellow;
}

.menuItem.selected {
    -fx-fill: yellow;
}

.bigtitle {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.title {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 32px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.newScoreBox {
    -fx-spacing: 5;
}

.heading {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
    -fx-padding: 10;
}

.label {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.deadlabel {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
    -fx-strikethrough: true;
}

.score {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.level {
    -fx-fill: #ff6600;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.hiscore {
    -fx-fill: orange;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.lives {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.scorelist {
    -fx-font-size: 20px;
    -fx-font-family: 'Orbitron';
    -fx-fill: yellow;
}

.scoreitem {

}

.scorer {
    -fx-fill: yellow;
}

.myscore {
    -fx-fill: orange;
    -fx-font-weight: 700;
}

.deadscore {
    -fx-strikethrough: true;
}

.points {
    -fx-fill: yellow;
}

.channelList {
    -fx-text-fill: white;
}

.channelItem {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
    -fx-background-color: transparent;
}


.channelScroll {
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.channelScroll .viewport {
    -fx-background-color: transparent;
    -fx-fill: transparent;
}


.leaderboard {
    -fx-font-size: 16px;
}

.gameBox {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-border-width: 1;
}

.scroller {
    -fx-background-color: transparent;
}

.scroller .viewport {
    -fx-background-color: transparent;
}

.messages {
    -fx-background-color: black;
    -fx-font-size: 12px;
    -fx-font-family: 'Orbitron';
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-opacity: 0.5;
}

.messages Text {
    -fx-fill: white;
}

TextField {
    -fx-font-family: 'Orbitron';
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-text-fill: white;
    -fx-prompt-text-fill: grey;
    -fx-max-width: 250;
    -fx-alignment: center;
}

.playerBox {
    -fx-font-size: 14px;
    -fx-font-family: 'Orbitron';
}

.playerBox Text {
    -fx-fill: white;
}

.myname {
    -fx-fill: orange;
    -fx-font-weight: 700;
}

.instructions {
    -fx-font-size: 10px;
    -fx-font-family: 'Orbitron';
    -fx-fill: white;
}

.channelName {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 16px;
    -fx-font-weight: 100;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.playerName {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 12px;
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.channelButton {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
    -fx-padding: 5;
    -fx-start-margin: 20;
}